<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuzhe.securityrbac.mapper.PermissionMapper">
  <select id="getUserPermissions" resultType="com.zhuzhe.securityrbac.entity.Permission">
    SELECT p.*
    FROM permission p
           JOIN role_permission rp ON p.id = rp.permission_id
           JOIN user_role ur ON rp.role_id = ur.role_id
           JOIN user u ON ur.user_id = u.id
    WHERE u.id = #{userId}
  </select>
</mapper>